<!DOCTYPE html>
<html lang="en">

{% include "_head.html" %}
{% if session.authenticated %}

<body class="app">
    {% include "_header.html" %}

    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="position-relative mb-3">
                    <div class="row g-3 justify-content-between">
                        <div class="col-auto">
                            <h1 class="app-page-title mb-0">Notifications</h1>
                        </div>
                        <div class="col-auto">
                            <div class="page-utilities">
                                <select class="form-select form-select-sm w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">News</option>
                                    <option value="option-3">Product</option>
                                    <option value="option-4">Project</option>
                                    <option value="option-4">Billing</option>
                                </select>
                            </div><!--//page-utilities-->
                        </div>
                    </div>
                </div>

                <div class="app-card app-card-notification shadow-sm mb-4">
                    <div class="app-card-header px-4 py-3">
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-auto text-center text-lg-start">
                                <div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>
                                <h4 class="notification-title mb-1">Notification Heading Lorem Ipsum</h4>

                                <ul class="notification-meta list-inline mb-0">
                                    <li class="list-inline-item">2 hrs ago</li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">Amy Doe</li>
                                </ul>

                            </div><!--//col-->
                        </div><!--//row-->
                    </div><!--//app-card-header-->
                    <div class="app-card-body p-4">
                        <div class="notification-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            sed ultrices dolor, ac maximus ligula. Donec ex orci, mollis ac purus vel, tempor pulvinar
                            justo. Praesent nibh massa, posuere non mollis vel, molestie non mauris. Aenean consequat
                            facilisis orci, sed sagittis mauris interdum at.</div>
                    </div><!--//app-card-body-->
                    
                </div><!--//app-card-->
                

            </div><!--//container-fluid-->
        </div><!--//app-content-->

    </div><!--//app-wrapper-->

    {% include "_footer.html" %}

</body>
{% else %}
{% include"login.html" %}

{% endif %}

</html>